body {
    background-color: indigo;
}
button {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    margin: auto;
    background-color: coral;
    color: indigo;
}
h1 {
    text-align: center;
    color: coral;
    margin: auto;
}


